

.main-content {
  max-width: 80vw;
  margin: auto;
  margin-bottom: 3em;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2%;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header {
  padding: 0.5em;
  margin-top: 4%;
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-image: linear-gradient(
	110deg,
	#004bad9c,
	rgba(255, 255, 255, 0.459)
  );
  
  
  border-top: 3px white solid;
  border-radius: 10px 10px 0 0;
}
hgroup {
  margin: 1%;
  color: white;
}
header img {
  margin-top: 1em;
  width: 300px;
  border-radius: 60%;
  box-shadow: white 5px 5px 15px;
}
#my-name {
  color: white;
}
#my-name span {
  padding: 0% 1%;
  background-color: var(--dark-blue);
  border-radius: 5px;

}
.cards {
	grid-area: cards;
  
}
.business {
	grid-area: business;
}
.recruiting {
	grid-area: recruiting;
}
.grid-container {
	display: grid;
	grid-template-areas: 
	'cards cards'
	'recruiting business'
	
	;
	gap: 10px;
	background-color: white;
  
}
.grid-container section {
	color: #1a1a1a;
  margin: 2% 4%;
}
h1,
h2 {
  text-transform: uppercase;
  color: #004aad;
  text-align: center;
}

.linkedin-button {
  background-color: #0a66c2;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 12px;
  font-size: 1.2em;
  margin-top: 0.5em;
  font-weight: 800;
  border: 1px transparent solid;
}

.linkedin-button:hover {
  cursor: pointer;
  color: #0a66c2;
  background-color: white;
  border: 1px #0a66c2 solid;
}
