@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
.under-construction {
    background-color: white;
    color: var(--light-blue);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsl(0, 0%, 0%, 0.8);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
  }

.cog-slow {
    --fa-animation-duration: 9s
}
.cog-accelerated {
    --fa-animation-duration: 1s;
    --transform: "grow-6";
}

.cog-slow:hover, .cog-fast:hover {
    --fa-animation-duration: 1s
}
.cogs {
    display: flex;
    flex-flow: row nowrap;
}

button {
    color: #74a4e4;
    outline: 2px solid #74a4e4;
    background-color: white;
}

button:hover, button:active {
    color: white;
    outline: none;
    background-color: #74a4e4;
}

h1 {
    font-weight: 400;
    color: #74a4e4;
    font-style: normal;
}
p {
     color: #3769ab;
}