@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
}

.main-content {
  max-width: 80%;
  margin: auto;
  margin-bottom: 3em;
}
header {
  padding: 0.5em;
  margin-top: 4%;
  text-align: center;
  background-color: #74a4e4;
  border-radius: 10px 10px 0 0;
}
hgroup {
  margin: 1%;
  color: white;
}
header img {
  margin-top: 1em;
  padding: 0.5em;
  width: 30%;
  border-radius: 60%;
  border: 2px white dashed;
}
#my-name {
  color: white;
}
.intro {
	grid-area: intro;
}
.contact {
	grid-area: contact;
}
.personal {
	grid-area: personal;
}
.grid-container {
	display: grid;
	grid-template-areas: 
	'intro personal contact'
	'intro personal contact'
	'intro personal contact'
	;
	gap: 10px;
	background-color: white;
	
}
.grid-container section {
	color: #1a1a1a;
}
h1,
h2 {
  text-transform: uppercase;
  color: #004aad;
}
.horizontal-flex-content {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
}
.career,
.personal,
.contact,
.classwork {
  margin: 1em;
}
.contact-buttons button {
  background-color: #0a66c2;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 12px;
  font-size: 1.2em;
  margin-top: 0.5em;
  font-weight: 800;
}

.contact-buttons button:hover {
  cursor: pointer;
  color: #0a66c2;
  background-color: white;
  border: 1px #0a66c2 solid;
}

.classwork ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  column-gap: 1em;
}
.classwork ul li {
  padding: 0.5em;
  background-color: #abcb98;
  text-transform: uppercase;
}
.classwork ul li a {
  text-decoration: none;
  color: white;
}
.classwork ul li a:hover {
  color: darkolivegreen;
}
